body {
width:800px;
margin:0 auto;
font-family: arial, sans-serif;
background-image: url("../images/bg_image.jpg");
}


h1,h2,h3,h4,h5,h6 {
color: red;
}

#logo {
	margin-top: 0;
	float: left;
}
/*  ---  Nav Elements ---- */

nav {
	width: 400px
	margin: 0 auto;
	background: grey;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	}

li {
	list-style-type: none;
	width: 200px;
	background: green;
	float: left;
}

a {
	text-decoration: none;
	background: red;
	display: block;
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: black;
}

a:hover {
	color: red;
	background: black;
}
/* -------------- */

#side_shot {
	float: left;
	margin-top: 10px;
	border-style: solid;
	border_width: 10px;
	border_color: black;
}
#splash {
	padding-left: 520px;
	margin-top: 92px;
	background: white;
}

h2 {
	text-shadow: 3px 3px 3px black;
}

#cta {
	background: pink;
}
#features {
	clear: left;
	background: purple;
}

#review {
	background: grey;	
}



ul {
	list-style-type: circle;
}