body {
max-width:800px;
margin:24px auto;
font-size: 110%;
font-family: "Share Tech", sans-serif;
background-image: url("../images/bg_image.jpg");
}

#logo {
	width: 50%;
	margin: 0;
	float: left;
}
#logo img {
	max-width:100%;
}
section img {
	max-width: 100%
}

/*  ---  Top Nav Elements ---- */

header nav ul li{
	list-style-type: none;
	width: 26.30111%;
	float: left;
}
header nav ul li a {
	text-decoration: none;
	background: red;
	display: block;
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: black;
}
header nav ul li a:hover {
	color: red;
	background: black;
}
/* -------------- */
#about {
	width:100%;
	float: left;
	margin-top: 0px;
	border-style: solid;
	border-width:5px;
	border-color: black;	
}
#about img {
	Max-width:100%;
}
#side_shot {
	width:60.5%;
	float: left;
	margin-top: 0px;
	border-style: solid;
	border-width:5px;
	border-color: black;
}
#side_shot img {
	Max-width:100%;
}
#join {
	margin-left: -20%;
}
#splash {
	text-align: center;
	color: white;
	height: 400px;
	padding-top: 55px;
	padding-left: 60%;
	margin-top: 0px;
	background: #630;
}

#button {
	font-size: 100%;
	-moz-float: left;
	margin-top: 10px;
	margin-left: -10%;
}
.button {
	border-top: 1px solid black;
	background: black;
	background: -webkit-gradient(linear, left top, left bottom, from(red), to(white));
	background: -moz-linear-gradient(top,red, white);
	padding: 6.5px 13px;
	-webkit-border-radius: 39px;
	-moz-border-radius: 39px;
	border-radius: 39px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,1) 0 1px 0;
	color: #ffffff;
	font-family: arial, sans serif;
	text-decoration: none;
	vertical-align: middle;
}
.button:hover {
	border-top-color:red;
	background:red;
	color:black;
	text-decoration: none;
}
.button:active {
	border-top-color: #26d117;
	background:#26d117;
} 

#join {
	text-align: center;
	font-size: 150%; 
	margin-top: 30px;
	padding: 6%;
}
#features {
	color:white;
	width:100%;
	margin-top: 20px;
	margin-bottom: 0;
	height: 50px;
	text-align: center;
	clear: both;
	background: rgba(155,0,0,0.3);
}
#list {
	background: rgba(155,0,0,0.3);
}
.list_features {
	color: white;
	margin: auto 0;
	width: 100%;
	clear: left;
	list-style-type: circle;
}
h2 {
	color: white;
	text-align: center;
	background: rgba(155,0,0,0.3);
}
h3 {
	background: #ff9;
	padding-top: 10px;
	text-align: center;
	clear: left;
}
h4 {
	
	color: white;margin: auto;
	text-align: center;
	background: rgba(155,0,0,0.3);
	width: 25%;
}
#images {
	width: 66.25%;
	background: rgba(155,0,0,0.3);
	list-style-type: none;
	margin: auto;
	overflow: hidden;
}
div ul li {
	float: left;
	margin-left: 3.275%;
}
#review {
	color: white;
	padding-left: 1.25%;
	padding-right: 1.25%;
	-moz-column-count: 3;
	-moz-column-gap: 25px;
	clear: left;
	background: rgba(155,0,0,0.3);
}
table {
	border-collapse:collapse;
	border: 1px solid #000;
	float: left;
	padding: 1.5em;
}
td {
	background-color: grey;
	border: 1px solid #000;
	padding: .3em;
}
th {
	text-align: left;
	background-color: #630;
	color: #fff;
	padding: .3em;
}
h6 {
	margin-top: 0px;
	text-align: center;
	color: white;
	font-size: 130%;
	background: rgba(155,0,0,0.3);
}

form{
	margin-left: 30%;
}
label {
	color: white;
	background: rgba(155,0,0,0.3);
}
input:focus {
	background: #ff9;
}
footer {
	margin-left: -42.8%;
	clear: left;
	background: #ff9;
	text-align: center;	
}

/* -Media Queries - =====================================*/

/* tablet portrait size to standad 960 (device & browswers) */
	@media screen and (min-width:768px) and (max-width:959px) {
		body {font-size: 110%;}
		#review {-moz-column-count: 2;}
		#logo {width: 60%}
		header nav ul li{width: 21%}
}
/* mobile landscape size to tablet portrait (device&browsers)*/
	@media only screen and (min-width:480px) and (max-width:767px){
		body {font-size: 90%;}
		#review {-moz-column-count: 2;}
		#button {font-size: 80%;padding-right: 0;}
		#join {font-size: 100%;}
		#logo {width: 60%}
		header nav ul li{width: 21%}
}
/*  mobile portrait size to mobile landscape size (device & browsers)*/
	@media only screen and (max-width:479px) {
		#features {height: 80px}
		#side_shot {display:none;clear: both;}
		#side_shot img {display:none;clear: both;}
		#splash {padding-left: 10%; padding-right: 10%; height: 350px;padding-top: 70px;}
		#review {-moz-column-count: 1;}
		body {clear:both; width: 90%; font-size: 90%;}
		#logo {width: 60%}
		header nav ul li{width: 21.975%;}
		#images {width: 180px;}
		h6 {clear: left; margin-top: 140px;}
		form {margin-left: 0%;}
		table {margin-left: 25%;}
		footer {margin-left: 0%;}
		#join {margin-top: 60px; margin-left: 5%; font-size: 120%;}		
}













